<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XGoals</title>


	<style>
	body {
			background-image: url("http://bgfons.com/uploads/grass/grass_texture224.jpg");
			background-repeat: no-repeat;
			background-size: cover;
	}

  h1 {
    font-size: 80px;
  }

  p {
   text-align:center;
   font-size: 50px;
  }

  div{
  text-align: center;
  }

  input{
    height: 50px;
    width: 100px;
    font-size: 20px;
  }

	</style>

</head>


<body>
<h1 style="color:white; text-align:center" > Welcome to Soccer Analytics</h1>
    <div class="container">

      <div class="row">
        <div class="twelve columns">
          <p style="color:white;"  id="explainText">
		  Click start to generate or view your expected goals statistics!
        </div>

      </div>

      <div class="cta-container">
		  <input type="button" onclick="location.href='/select-competitions';" value="Start" style = "font-family:'Garamond Premier'; font-size: 20px; background-color: white; color:black; border: 2px solid #4CAF50; border-radius: 2px;" />
      </div>


</body>
</html>
